{% extends "model-page.html" %}

{% block content %}
    <h2>Evento</h2>
    <form action="submit" method="post"> {% csrf_token %}
        <label for="titulo">Titulo: </label><br>
        <input type="text" name="titulo" id="titulo"></label><br>
        <label for="descricao">Descricao: </label><br>
        <textarea type="text" name="descricao" id="descricao" cols="23" rows="5"></textarea><br>
        <label for="data_evento">Data do Evento: </label><br>
        <input type="datetime-local" name="data_evento" id="data_evento"></label><br>
        <button type="submit">Salvar</button>
        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </form>
    <ul style= "font-size: 20px">
    {%for evento in eventos %}
    <li>{{evento.titulo}} - {{evento.data_evento}}</li>
    {% endfor %}
    </ul>
{% endblock %}